.shifting {
    float: right;
    background-color: blue;
    margin-top: 20px;
}

table {
    
    width: 100%;
    /* border-collapse: collapse; */
      border-collapse: none;
   
    background-color: white;
    border-radius: 2%;

}

th {
    color: blue;
    padding:10px;
}
td{
    padding: 10px;
}
tr{
    border-bottom: 1px solid gray;
}

.first{
    background-color: white;
     margin: 2px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 0;
}
.col-3{
   display: flex;
   justify-content: space-between;
   gap: 10px;
   height: 40px;
   align-items: center;
}
