#mark {
    color: red;
}

#click-submit {
    margin-top: 2%;
    padding: 5px 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

#click-cancel {
    margin-top: 2%;
    font-weight: bold;
    padding: 5px 50px;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;

}

#action-buttons {
    display: flex;
    gap: 15px;

}

#Description {
    margin-bottom: 3%;
}