<div [formGroup]="positionDetails">
    <div class="card">
        <div class="card-body">
            <h5 style="text-align: center;">Position Details</h5>
            <div class="row">
                <div class="col-lg-4">
                    <label for="Designation">Designation <span id="marked">*</span></label>
                    <select class="form-control" formControlName="DesignationID">
                        <option value="">Select DesignationList </option>
                        <option *ngFor="let designation of designationData" [value]="designation.id">
                            {{designation.title}}</option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="Job-level">Job Level <span id="marked">*</span></label>
                    <select class="form-control" formControlName="JobLevel">
                        <option value="">Select Job Level </option>
                        <option *ngFor="let joblevel of jobLevelData" [value]="joblevel.id">{{joblevel.levelType}}
                        </option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="loginType">Login Type <span id="marked">*</span></label>
                    <select class="form-control" formControlName="LoginType">
                        <option value="">Select Login Type</option>
                        <option *ngFor="let loginType of loginTypeData" [value]="loginType.id">{{loginType.type}}
                        </option>
                    </select>

                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Organization Hierarchy</h5>
            <div class="row">
                <div class="col-lg-4">
                    <label for="Department">Department <span id="marked">*</span></label>
                    <select class="form-control" formControlName="DepartmentID">
                        <option value="">Select Department</option>
                        <option *ngFor="let department of departmentData" [value]="department.id">
                            {{department.departmentName}}</option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="Unit">Unit<span id="marked">*</span></label>
                    <select class="form-control" formControlName="UnitID">
                        <option value="">Select Unit</option>
                        <option *ngFor="let department of departmentData" [value]="department.id">
                            {{department.unitName}}
                        </option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="Manager">Manager <span id="marked">*</span></label>
                    <select class="form-control" formControlName="Manager">
                        <option value="">Select Manager</option>
                        <option value="Consultant">Supraja </option>
                        <option value="Project">Vinod Kumar</option>
                        <option value="Regular">Sathish</option>
                        <option value="Consultant">Lakshmana</option>
                        <option value="Project">Kumar</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5>Work Location</h5>
            <div class="row">
                <div class="col-lg-4">
                    <label for="Work Arrangement ">Work Arrangement <span id="marked">*</span></label>
                    <select class="form-control" formControlName="WorkArrangement">
                        <option value="">Select Work Arrangement </option>
                        <option value="Active">Office-Based</option>
                        <option value="Inactive">Site Based</option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="Job-level"> Worksite Country <span id="marked">*</span></label>
                    <select class="form-control" formControlName="WorksiteCountry">
                        <option value="">Select Worksite Country </option>
                        <option *ngFor="let country of countryData" [value]="country.id">{{country.countryName}}
                        </option>
                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="loginType"> Worksite Province <span id="marked">*</span></label>
                    <select class="form-control" formControlName="WorksiteProvince">
                        <option value="">Select Worksite Province</option>
                        <option *ngFor="let province of provinceData" [value]="province.id">{{province.provinceName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <label for="Job-level"> Worksite City<span id="marked">*</span></label>
                    <select class="form-control" formControlName="WorksiteCity">
                        <option value="">Select Worksite City</option>
                        <option *ngFor="let data of cityData" [value]="data.id">{{data.city}}
                        </option>
                    </select>

                </div>
                <div class="col-lg-4">
                    <label for="loginType"> Working Location<span id="marked">*</span></label>
                    <input type="text" class="form-control" formControlName="WorkingLocation">
                </div>


            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5>Employment Details</h5>
            <div class="row">
                <div class="col-lg-4">
                    <label for="Designation">Employment Type <span id="marked">*</span></label>
                    <select class="form-control" formControlName="EmploymentType">
                        <option value="" selected>Select Employment Type</option>
                        <option value="Consultant">Consultant</option>
                        <option value="Project">Project Hire</option>
                        <option value="Regular">Regular</option>

                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="Job-level"> Employment Status <span id="marked">*</span></label>
                    <select class="form-control" formControlName="EmploymentStatus">
                        <option value="">select Employment Status </option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>


                    </select>

                </div>
                <div class="col-lg-4">

                    <label for="loginType"> Hired Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" formControlName="HiredDate">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <label for="Job-level">Confirmation Due Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" formControlName="ConfirmationDueDate">

                </div>
                <div class="col-lg-4">
                    <label for="loginType"> Actual Confirmation Due Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" formControlName="ActualConfirmationDueDate">
                </div>
                <div class="col-lg-4">
                    <label for="loginType"> Separation Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" form-control="SeperationDate">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <label for="Job-level"> Probation End Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" form-control="ProbationEndDate">

                </div>
                <div class="col-lg-4">
                    <label for="loginType"> Contract End Date <span id="marked">*</span></label>
                    <input type="date" class="form-control" form-control="ContractEndDate">
                </div>



            </div>


        </div>
    </div>
</div>