<div id="sidebar">
    <div class="icon" style="padding: 10px 30px;">
        <img src="images/digi_office_logo2.svg" alt="">
    </div>

    <div>

        <li (click)="navigateDashboard()" [ngClass]="this.loaderService.isTitle == 'Dashboard' ?'highlight':'' ">
            <img src="images/dashboard-black.svg" alt="" class="icon" style="width:25px;height:25px;"> DashBoard
        </li>
        <hr>
        <div class="subnav">
            <li (click)="navigateAttendence()" [ngClass]="this.loaderService.isTitle == 'Attendence' ?'highlight':'' ">
                <img src="images/AttendanceDetailBlack.svg" alt="" class="icon"
                    style="width:25px;height:25px;">Attendence
            </li>
            <span class="eye-icon">
               {{ activeSection === 'attendence' ? downArrow : '' }}
            </span>
            <div class="subnav-content" *ngIf="activeSection == 'attendence'">
                <li (click)="navigateAttendenceDetails()"
                    [ngClass]="this.loaderService.isTitle == 'AttendenceDetails' ?'highlight':'' "><img
                        src="images/AttendanceDetailBlack.svg" alt="" class="icon"
                        style="width:25px;height:25px;">Attendence Details</li>
                <li (click)="navigateShiftDetails()"
                    [ngClass]="this.loaderService.isTitle == 'ShiftDetails' ?'highlight':'' ">
                    <img src="images/ShiftDetailsGrey.svg" alt="" class="icon" style="width:25px;height:25px;">Shift
                    Details
                </li>
                <li (click)="navigateAttendenceCorrection()"
                    [ngClass]="this.loaderService.isTitle == 'AttendenceCorrection' ?'highlight':'' "><img
                        src="images/AttendanceCorrectiongrey.svg" alt="" class="icon"
                        style="width:25px;height:25px;">Attendence Correction
                </li>
            </div>
        </div>
        <hr>
        <div class="subnav">
            <li (click)="navigateRequest()" [ngClass]="this.loaderService.isTitle == 'Request' ?'highlight':'' "><img
                    src="images/Requestgrey.svg" alt="" class="icon" style="width:25px;height:25px;">Request</li>
            <span class="eye-icon">
                {{ activeSection === 'request' ? downArrow : '' }}
            </span>
            <div class="subnav-content" *ngIf="activeSection == 'request'">

                <li (click)="navigateOvertimeDetails()"
                    [ngClass]="this.loaderService.isTitle == 'OvertimeDetails' ?'highlight':'' ">
                    <img src="images/OtDetailsGrey.svg" alt="" class="icon" style="width:25px;height:25px;">Overtime
                    Details
                </li>
                <li (click)="navigateResignation()"
                    [ngClass]="this.loaderService.isTitle == 'Resignation' ?'highlight':'' ">
                    <img src="images/EmployeeResignation.svg" alt="" class="icon"
                        style="width:25px;height:25px;">Resignation
                </li>
                <li (click)="navigateLoanRequest()"
                    [ngClass]="this.loaderService.isTitle == 'LoanRequest' ?'highlight':'' "><img
                        src="images/LoanReqGrey.svg" alt="" class="icon" style="width:25px;height:25px;">Loan Request
                </li>
                <li (click)="navigateLeaveRequest()"
                    [ngClass]="this.loaderService.isTitle == 'LeaveRequest' ?'highlight':'' "><img
                        src="images/LeaveReqGrey.svg" alt="" class="icon" style="width:25px;height:25px;">Leave Request
                </li>

            </div>
        </div>
        <hr>
        <div class="subnav">
            <li (click)="navigateSurvey()" [ngClass]="this.loaderService.isTitle == 'Survey' ?'highlight':'' "><img
                    src="images/manpowerReq-black.svg" alt="" class="icon" style="width:25px;height:25px;">Survey</li>
            <span class="eye-icon">
                {{ activeSection === 'survey' ? downArrow : '' }}
            </span>
            <div class="subnav-content" *ngIf="activeSection == 'survey'">
                <li (click)="navigateTakeSurvey()"
                    [ngClass]="this.loaderService.isTitle == 'TakeSurvey' ?'highlight':'' "><img
                        src="images/EmployeeResignation.svg" alt="" class="icon" style="width:25px;height:25px;">Take
                    Survey</li>
            </div>
        </div>
        <hr>


    </div>

</div>