label{
    /* font-weight: bold; */
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
}

.required{
    color: red;
}

.card{
    margin-bottom: 50px;
}

h6,h5{
    padding-bottom: 20px;
}

img{
   margin-left: 30px;
}
.submit-btn{
  background-color: rgb(74, 74, 241);
  color: white;
  padding: 5px 50px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; 
  margin: 20px;
  margin-left: 40%;
}

.next-btn{
  background-color: rgb(74, 74, 241);
  color: white;
  padding: 5px 50px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; 
  margin-left: 85%;
}

select.form-control {
  appearance: auto;
  cursor: pointer;
}

.upload{
    margin-left: 150px;
    width: 20px;
    height: 20px;
}