.r1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 25px; 
     
}
.c1 {
    display: flex;
    align-items: center;
    gap: 10px;
    
   
}
.r1 > div {
    min-width: 200px;
}
.c1 img {
    width: 20px;
    height: 20px;
    
}
button{
    float: right;
    width: 180px;
    height: 34px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}
