form{
  margin: 8px;
}
.required{
    color: red;
}

.time-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.time-box input {
  width: 50px;
  padding: 4px;

  text-align: center;
}

.button-grp{
    margin-top: 30px;
}

.submit-btn{
    background-color: rgb(11, 11, 174);
    color: white;
    border-radius: 8px;
  padding: 5px 50px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px;
}
.cancel-btn{
    color:  rgb(11, 11, 174);
    border-color: blue;
    margin-left: 30%;
  margin-right: 20px;
  border-radius: 8px;
  padding: 5px 50px;
  cursor: pointer;
  font-weight: bold;
}


.modal-body2{
   display: flex;
   justify-content: space-around;
   border-bottom: 1px solid #dfdee4;
   margin: 20px;
   font-size: 600;
   font-weight: bold;
   color: rgb(11, 11, 174);
   margin-bottom: 100px;
}

.modal-header{
   display: flex;
   justify-content: space-between;
}