table,th,td{
    border: 2px solid black;
    padding: 5px;
}
table{
   width: 100%;
     text-align: center;
}
.b1{
    float:right;
    /* margin-right: 25px; */
}

.modal-header{
    display: flex;
    justify-content: space-between;
}


