
th{
    color:Blue;
    padding:10px;

}

td{
color:gray;
}
.header
{
    display:flex;
    justify-content: space-between;
    padding:5px;
    padding:15px;
}
.intial
{
    display:inline-flex;
    gap:10px;
    align-items: center;
}
#addButton{
      background-color: blue;
   color: white;
   padding:5px 25px;
   border:none;
}
.modify{
    height:15%;
    width:15%;
}
.records
{
    color:blue;
    font-size:18px ;
    font-weight:650;
     margin-top: 5px;
}