table{
     background-color: #f1f1f1;
}
th{
    color:Blue;
    padding:10px;

}
tr{
    border:1px solid rgb(186, 151, 238);
    
    
}
td{
color:gray;
}
.header
{
    display:flex;
    justify-content: space-between;
    padding:5px;
    background-color: #f1f1f1;
    padding:15px;
}
.intial
{
    display:inline-flex;
    gap:10px;
    align-items: center;
}
#addButton{
      background-color: blue;
   color: white;
   padding:5px 18px;
}
.modify{
    height:15%;
    width:15%;
}
.records
{
    color:blue;
    font-size:18px ;
    font-weight:650;
     margin-top: 5px;
}