#mark
{
    color:red;
}
#click-submit
{
     padding:5px 20px;
    background-color:blue ;
    color:white;
    border-radius:2px;
     padding-left:20px;
}
#click-cancel
{
     padding:5px 10px;
    background-color:rgb(249, 249, 250) ;
    color:blue;
     border-radius:2px;

}