* {
    margin: 0;


}

.navabar {
    margin-bottom: 8%;
}

.col-2 {
    overflow: auto;
    max-height: 700px;

}

/* .col-10{
    overflow: auto;
  max-height: 700px;

} */

#contain
{
  display: flex;
  height: 100vh;
}
 
.main-content{
     flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
  padding: 20px;
  padding-bottom: 13%;
}
 
::-webkit-scrollbar {
    width: 5px;
    height: auto
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: blue;
    height: 10px;
}