.attendance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.filter{
    display: flex;
    align-items: center;
    gap: 2px;
}
.form-control{
    margin-left: 30px;
    width: 290px;
  
}
.download{
    width: 290px;
    background-color: blue;
    color: white;
    border: 2px solid blue; 
     border-radius: 4px; 
}
#fil{
    margin-top: 10px;
    color: green;
    font-weight: bold;
}
.table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;  
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
.showing{
      color:blue;
}
table {
    border-collapse: collapse;
    background-color: white;
    min-width: 1800px;
    width: 100%;
    white-space: nowrap;
    margin: 0;  
}
th{
    color:blue;
    font-size:15px;
}
td{
    color:black;
    font-size:14px;
}

td, th {
    padding: 15px;
    white-space: nowrap;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color:blue;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px; 
}
