<form [formGroup]="teamShiftDetailsForm">
    <div class="shiftForm">
        <div class="row">
            <div class="col-lg-2">
                <label>Staff</label>
                <select class="form-control" (change)="changedStaffID($event)" formControlName="StaffID">
                    <option value="">Select Staff</option>
                    <option *ngFor="let data of shiftDetails" [value]="data.id">{{data.staffName}}</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Start Date</label>
                <input type="date" class="form-control" formControlName="StartDate">
            </div>
            <div class="col-lg-2">
                <label>End Date</label>
                <input type="date" class="form-control" formControlName="EndDate">
            </div>
            <div class="col-lg-2">
                <label>Shift Type</label>
                <select class="form-control" (change)="ChangedValueOfShiftType($event)" formControlName="ShiftTypeID">
                    <option value="">Select Shift</option>
                    <option *ngFor="let data of shiftTypeData" [value]="data.shiftID">{{data.shiftType}}</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Shift Code</label>
                <select class="form-control" (change)="changedValueOfCode($event)" formControlName="ShiftCode">
                    <option value="">Select Shift Code</option>
                    <option *ngFor="let data of changedShiftType" [value]="data.id">{{data.shiftCode}}</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label>Start Time</label>
                <input type="time"  class="form-control"  formControlName = "StartTime" readonly >
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-lg-2">
                <label>End Time</label>
                <input type="time" class="form-control" formControlName="EndTime" readonly>
            </div>
            <div class="col-lg-2">
                <label>Rest Days</label>
                <ng-multiselect-dropdown [placeholder]="'Select Days'" [settings]="dropdownSettings"
                    [data]="dropdownList" (onSelect)="onItemSelect($event)" formControlName="selectedItems">
                </ng-multiselect-dropdown>
            </div>
        </div><br>
        <div class="action-btn">
            <button type="submit" class="cancel-btn">Cancel</button>

            <button type="submit" (click) = "submit(editID? 'update':'save')" class="submit-btn">{{editID? 'Update' : 'Submit'}}</button>
        </div>
    </div>
</form>